@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.wrapper {
    height: 100%;
    /* display: flex; */
}

.nav-menu {
 display: flex;
 justify-content: space-around;
 background: #F5F5F6;
}

.flexes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.img-logo {
    width: 89px;
    height: 23px;
    margin-top: 14px;
    margin-left: 99px;
}
.list-menu {
    display: flex;
    width: 100%;
    /* padding-left: 40px; */
    list-style: none;
    text-decoration: none;
    margin-right: 100px;
    margin-top: 17px;
    margin-bottom: 14px;
}




.list-menu a {
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #959BA4;
    cursor: pointer;
}

.list-menu a:hover {
    color: rgb(34,193,195);
    color: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.text-1 {
    margin-left: 25px;
}
.text-2 {
    padding-left: 25px;
}

.text-3 {
    padding-left:  26px;
}

.text-4 {
   padding-left:  24px;
}

.text-5 {
    padding-left:  24px;
}
.text-6 {
    padding-left:  24px;
}

.text-7 {
    padding-left:  24px;
}

 #btn {
    text-transform: uppercase;
    width: 58px;
    height: 33px;
    margin-top: 9px;
    background: #FFFFFF;
    border-radius: 4px;
    color: black;
    margin-right: 218px;
    font-size: 11px;
    font-weight: bold;
    border: none;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-top: 56px;
    margin-left: 253px;
    margin-bottom: 40px;
   text-align: center;
   margin-right: 400px;
}

.flexes {
    display: flex;
    justify-content: space-evenly;
    
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    align-items: center;
    color: #9F9F9F;

}

.loc1,.loc2 {
    display: flex;
    
}

.location1 {
    margin-left: 251px;
    margin-top: -8px;
}

.location2 {
    margin-right: 370px;
    margin-top: -7px;
    font-size: 12px;
}

button {
     width: 52px;
    height: 30px;
    font-size: 12px;
    list-style: none; 
    outline: none;
    background-color: white;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;  
    cursor: pointer;
}




select {
    width: 52px;
    height: 30px;
    font-size: 12px;
    list-style: none;
    outline: none;
    background-color: white;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
}

.input-text {
    margin-top: 20px;
    padding-bottom: 40px;
    width: 259px;
    height: 102px;
    margin-top: 20pxpx;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-left: 15px;

}

.input-textt {
    width: 259px;
    height: 102px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    border: 1px solid #E5E5E5;
    margin-bottom: 1px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    padding-left: 15px;
}

.arrow {
    margin-left: 39px;
    margin-top: 54px;
}

.loading {
    display: flex;
     background-color: plum;
     width: 129px;
    height: 54px;
    
    
}



.loading-div {
    text-align: center;  
    position: fixed;
    width: 129px;
    height: 54px;
    border-radius: 3px;
    background-color:chartreuse;
    left: 509px;
    top: 272px;

}


.loading-p {
    line-height:28,13px;
    align-items: center;
    color:black;
}

.active {
    background: #833AE0;
    color:white;
}
